#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

#my_carousel{
    background-color:red;
}
#my_carousel img{
    margin-top:40px;
    height: 300px;
}
.carousel-inner p{
    margin-top: 10px;
    margin-bottom: 10px;
    color:aqua;
    font-size: medium;
}
#row1 img{
    height:200px;
    width:200px;
    margin:10px;
}
#row2 img{
    height:200px;
    width:200px;
    margin: 10px;
}